.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 5rem;
  background-color: #fdf9fd;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  
}

.cart-container > div > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  gap: 1.8rem;
  margin-bottom: 2rem;
}

app-product-card {
  flex: 1 1 300px;
  min-width: 300px;
}

.remove-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 11px 17px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 17px;

  &:hover {
    background-color: #ffffff;
    color: #ff4d4d;
    border: 1px solid #ff4d4d;
  }
}

.quantity {
  font-size: 1rem;
  font-weight: 500;
  color: #2e003e;
}


.empty {
  text-align: center;
  padding: 6rem;
  font-family: 'Afacad', sans-serif;
  font-size: 30px;
  color: #2e003e;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;

  button {
    width: 32px;
    height: 32px;
    font-size: 18px;
    background-color: #eee;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      background-color: #ccc;
    }
  }

  span {
    font-weight: 500;
    font-size: 16px;
  }
}