.cart-table{
    background-color: white;
    border-radius: 39px;
    padding: 2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    margin: 15rem auto;
    height:800px;
    width:1200px;
    margin-top:40px;
    
  }
  
  ::ng-deep .cart-table {
    --ag-border-color: transparent;
    --ag-row-border-width: 0px;
    --ag-header-background-color: transparent;
    --ag-row-hover-color: #f9f4ff;
    --ag-font-size: 17px;
    --ag-font-family: '', sans-serif;
    --ag-font-weight:10px;

    .ag-root-wrapper {
      border: none;
    }
  
    .ag-row {
      border-bottom: none;
      border-radius:15px;
 
    }
  
    .ag-cell {
      padding: 1rem;
      color: #2e003e;
     
    }
    
  
    .ag-center-cols-viewport {
      background-color: transparent;
    }

    .ag-header{
     background-color:#2e003e;
      border-radius:15px;
      color:#ffffff;
    }
  }
  .cart-total-container {

    display: flex;
    justify-content: flex-end;
    padding: 0rem 28rem 0 2rem; // top, right, bottom, left
  margin-bottom: 2rem;
   
  }

  .cart-total {
    background-color: #f6e6fa;
    color: #2e003e;
    padding: 1rem 2rem;
    border-radius: 12px;
    font-size: 1.2rem;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
    font-weight: 500;
  
    span {
      margin-right: 1rem;
    }
  
    strong {
      font-size: 1.4rem;
    }
  }
  