

    <div class="cart-container">
      <div *ngIf="cartItems$ | async as items">
        <div *ngIf="items.length === 0">
          <p class="empty">Your cart is empty.</p>
        </div>


        <div *ngFor="let item of items">
            <app-product-card [product]="item.product" [showAddToCart]="false">
            </app-product-card>
          <button class="remove-btn" (click)="removeItem(item.product.id)">Remove</button>
          <div class="quantity-controls">
            <button (click)="decrementQuantity(item)">-</button>
            <span>{{ item.quantity }}</span>
            <button (click)="incrementQuantity(item)">+</button>
          </div>
        </div>
        <h3>Total: ${{ items | totalPrice }}</h3>
      </div>
    </div>
    
    

    
    
    

