.new-arrivals {
    padding: 2rem;
    padding-left:100px;
    padding-right:100px;
    
    
  
    h2 {
      font-size:3rem;
      color: #2e003e;
      margin-bottom: 1.5rem;
      
    }

    h3{
        font-size:1rem;
        color:#2e003e;
        margin-bottom: 2rem;
        font-style:italic;

    }
  
    .product-list {
      display: flex;
      
      gap: 2rem;
      justify-content: center;
    }
    



  }

  .seperator{
    border: none;
    border-bottom: 2px solid #2e003e;
    margin-top: 0;
    margin-bottom: 1rem;
    width: 100%;
    
  
  
  }
  