.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  
    .carousel-slide {
      position: relative;
      width: 100%;
      height: 100%;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .carousel-caption {
        position: absolute;
        top: 91%; 
        left: 49%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 2;
        }
      }
      
    
  
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      font-size: 2rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
      z-index: 1;
  
      &:first-of-type {
        left: 20px;
      }
  
      &:last-of-type {
        right: 20px;
      }
    }

    
}

.carousel-offer {
    background-color: #e4d4f4; // Light purple
    color: #ffffff; 
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.8rem 1rem;
    letter-spacing: 1px;
  }
  
  
  
  
  @media (max-width: 768px) {
    .carousel {
      height: 70vh;
  
      button {
        padding: 0.8rem;
        font-size: 1.5rem;
      }
    }
  }
  
  
  @media (max-width: 480px) {
    .carousel {
      height: 60vh;
  
      button {
        padding: 0.6rem;
        font-size: 1.2rem;
      }
    }
  }
  