<section class="featured-categories">
    <h2>Featured Categories</h2>
    <h3>Explore by fit, style, or mood</h3>

    
    <div class="categories-grid">
      <a
        *ngFor="let category of featuredCategories"
        [routerLink]="['/categories', slugifyCategory(category.name)]"
        class="category-card"
      >
        <img [src]="'assets/' + category.image" [alt]="category.name" />
        <p>{{ category.name | titlecase }}</p>
      </a>
    </div>
</section>
<hr class="seperator"/>
