.featured-categories {
  padding: 2rem 100px;
  max-width: 1400px;
  margin: 0 auto 5rem auto;

  h2 {
    font-size: 3rem;
    color: #2e003e;
    margin-bottom: 1.5rem;
  }

  h3 {
    font-size: 1rem;
    color: #2e003e;
    margin-bottom: 3rem;
    font-style: italic;
  }

  .categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 4rem;
    justify-items: center;
    padding: 6rem 4rem;
    border-radius: 2rem;
    background-image: url('/assets/flowers.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .category-card {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 30px;
    text-align: center;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    text-decoration: none;

    &:hover {
      transform: translateY(-5px);
      cursor: pointer;
    }

    img {
      height: 150px;
      width: auto;
      object-fit: contain;
      margin: 0 auto 0.5rem auto;
      display: block;
    }

    p {
      font-weight: 600;
      color: #2e003e;
      margin: 0;
    }
  }
}

.seperator {
  border: none;
  border-bottom: 2px solid #2e003e;
  margin-top: 0;
  margin-bottom: 1rem;
  width: 100%;
}
@media (max-width: 600px) {
  h2 {
    font-size: 1.5rem;
  }

  .categories-grid {
    grid-template-columns: 1fr; // stack vertically
    padding: 1rem;
    width:900px;
    gap:5rem;
    
  }

  .category-card {
    width: 100%;
    max-width: 100%;
   
  }

  @media (max-width: 400px) {
    .product-list {
      grid-template-columns: 1fr;
      padding: 0.5rem;
    }
  
   
  
    .seperator{
    min-width: 300%;
    }
  
  

}
}