<section class="featured-categories">
    <h2>Featured Categories</h2>
    <h3>Explore by fit, style, or mood</h3>
    <div class="categories-grid">
        <div class="category-card">
          <img src="assets/Subject 29.png" alt="Tops" />
          <p>TOPS</p>
        </div>
        <div class="category-card">
          <img src="assets/Subject 31.png" alt="Jeans" />
          <p>JEANS</p>
        </div>
        <div class="category-card">
          <img src="assets/Subject 33.png" alt="Dresses" />
          <p>DRESSES</p>
        </div>
        <div class="category-card">
          <img src="assets/Subject 34.png" alt="Skirts" />
          <p>SKIRTS</p>
        </div>
        <div class="category-card-shoe">
          <img src="assets/Subject 37.png" alt="Shoes" />
          <p>SHOES</p>
        </div>
        <div class="category-card">
          <img src="assets/Subject 32.png" alt="Bags" />
          <p>BAGS</p>
        </div>
        
      </div>
</section>
<hr class="seperator"/>
